body button {
    float: right;
    padding: 5px 5px;
    background-color: white;
    color: #006666;
    margin-right: 90px;
    border-radius: 0.09cm;
    cursor: pointer;
}

body div#nav {
    position: static;
    margin-left: 430px;
    margin-top: -60px;
    background-color: #006666;
    overflow: hidden;
    width: 59%;
    border-radius: 0.1cm;
}
body div a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 29px;
    text-transform: capitalize;
    border-width: none;
    color: #ffffff;
}
body div a:hover {
    color: #006666;
    background-color: #66cc00;
}
