body div#logo {
	color: white;
	padding: 15px 15px;
    float: left;
    width: 290px;
    height: 30px;
 	font-size: 30px;
    font-weight: bold;
	margin-top: 20px;
    margin-left: 80px;
    font-family: Verdana;
}

footer {
    color: #000000;
	background-color: grey;
	padding: 5px;
    text-align: center;
}
